@tailwind base;
@tailwind utilities;
@tailwind components;

@layer components {
  /* HACK: Makes file name invisible (requested by RLP) in edusharing-plugin after embedding a file. Better solution: edu-sharing should modify the html they send. */
  .license_permalink {
    @apply edusharing-invisible;
  }

  .edusharing-ece-button {
    @apply edusharing-inline-block edusharing-rounded-[4rem] edusharing-py-1 edusharing-px-2 edusharing-transition-all;
    @apply edusharing-cursor-pointer edusharing-border-none edusharing-font-bold edusharing-no-underline;
    @apply edusharing-text-lg edusharing-leading-[normal];
    @apply edusharing-duration-200 edusharing-ease-in-out hover:edusharing-no-underline;
    @apply focus-visible:edusharing-outline-dashed focus-visible:edusharing-outline-2 focus-visible:edusharing-outline-sky-800;
  }
  .edusharing-ece-button-blue {
    @apply edusharing-ece-button edusharing-bg-sky-800 edusharing-text-white hover:edusharing-bg-sky-500;
  }
  .edusharing-ece-button-light {
    @apply edusharing-ece-button edusharing-bg-sky-100 edusharing-text-sky-800 hover:edusharing-bg-sky-500 hover:edusharing-text-white;
  }
  .edusharing-ece-button-blue-transparent {
    @apply edusharing-ece-button edusharing-bg-transparent edusharing-text-sky-800 hover:edusharing-bg-sky-100;
  }

  /* HACK: This was needed to position the ModalWithCloseButton like on serlo.org. But this should instead be fixed in `frontend` */
  .ReactModal__Content {
    transform: translate(-50%, 0);
    max-height: 100%;
    overflow: auto;
  }

  /*
   * Fix for misplacement of slate placeholders
   *
   * TODO: Investigate whether we still need this fix after slate upgrade
   */
  span[data-slate-leaf='true'] > span > span[contenteditable='false'] {
    vertical-align: initial !important;
  }
}
