@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .ece-button {
    @apply inline-block rounded-[4rem] py-1 px-2 transition-all;
    @apply cursor-pointer border-none font-bold no-underline;
    @apply text-lg leading-[normal];
    @apply duration-200 ease-in-out hover:no-underline;
    @apply focus-visible:outline-dashed focus-visible:outline-2 focus-visible:outline-sky-800;
  }
  .ece-button-blue {
    @apply ece-button bg-sky-800 text-white hover:bg-sky-500;
  }
  .ece-button-light {
    @apply ece-button bg-sky-100 text-sky-800 hover:bg-sky-500 hover:text-white;
  }
  .ece-button-blue-transparent {
    @apply ece-button bg-transparent text-sky-800 hover:bg-sky-100;
  }

  /*
   * Fix for misplacement of slate placeholders
   *
   * TODO: Investigate whether we still need this fix after slate upgrade
   */
  span[data-slate-leaf='true'] > span > span[contenteditable='false'] {
    vertical-align: initial !important;
  }
}
