name: Checks, linting and tests for CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  yarn:
    name: Cache of yarn matches checksums in lockfile
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
      - run: yarn --immutable --immutable-cache --check-cache

  build:
    name: Build succeeds
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          cache: yarn
          node-version: 16
      - run: yarn --immutable --immutable-cache
      - run: yarn build

  prettier:
    name: All source files are well formated with prettier
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          cache: yarn
          node-version: 16
      - run: yarn --immutable --immutable-cache
      - run: yarn lint:prettier --loglevel debug

  tsc:
    name: TypeScript compiles
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          cache: yarn
          node-version: 16
      - run: yarn --immutable --immutable-cache
      - run: yarn lint:tsc

  eslint:
    name: ESLint has no errors
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          cache: yarn
          node-version: 16
      - run: yarn --immutable --immutable-cache
      - run: yarn lint:eslint

  test:
    name: Jest integration tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          cache: yarn
          node-version: 16
      - run: yarn --immutable --immutable-cache
      - run: yarn test:with-server
      - run: yarn stop:mongodb

  # https://docs.cypress.io/guides/continuous-integration/github-actions#Basic-Setup
  cypress:
    name: Run cypress tests (locally)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          cache: yarn
          node-version: 16

      - name: Cypress run
        uses: cypress-io/github-action@v5
        with:
          install-command: yarn --immutable --immutable-cache
          browser: chrome
          start: yarn start:server-with-mongodb
          wait-on: 'http://localhost:3000'

      - uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: cypress-outcome
          path: |
            cypress/screenshots
            cypress/videos

  cypress-docker:
    name: Run cypress tests (with docker build)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          cache: yarn
          node-version: 16

      - name: Cypress run
        uses: cypress-io/github-action@v5
        with:
          install-command: yarn --immutable --immutable-cache
          browser: chrome
          build: yarn docker:build
          start: yarn start:all-docker
          wait-on: 'http://localhost:3000'
